# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=kanban
DATABASE_PASSWORD=kanban_dev
DATABASE_NAME=kanban
DATABASE_URL=Host=localhost;Port=5432;Database=kanban;Username=kanban;Password=kanban_dev

# GitHub Container Registry (GHCR) Token
CR_PAT=
